{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width , initial-scale=1">

        <title>{% block title %}{% endblock %}GoLocal</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        
        <script src="{% static 'scripts/main.js' %}"></script>
    </head>

    <body>
        <nav class="navbar is-dark">
            <div class="navbar-brand">
                <a href="/" class="navbar-item"><strong>GoLocal</strong></a>
        
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        
            <div class="navbar-menu" id="main-navbar">
                <div class="navbar-start">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_staff %}
                            <a href="{% url 'moderator' %}" class="navbar-item">ADMIN</a>
                            <a href="{% url 'contact' %}" class="navbar-item">Contact</a>
                        {% endif %}
                    {% endif %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Browse
                        </a>
                        <div class="navbar-dropdown">
                            {% for category in menu_categories %}
                                <a class="navbar-item" href="{% url 'category' category.slug %}"> {{ category.title}} </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="navbar-item">
                        <form method="get" action="{% url 'search' %}">
                            <div class="field has-addons">
                                <div class="control">
                                    <input type="text" class="input" placeholder="Search..." name="query">
                                </div>
                                <div class="control">
                                    <button class="button is-dark">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="navbar-end">
                    {% if request.user.is_authenticated %}
                    {% comment %} TODO - adaugat font-awesome {% endcomment %}
                    <a href="{% url 'cart' %}" class="navbar-item"> Cosul meu {% if cart %} ({{ cart|length }}){% endif %}</a>
                    <a href="{% url 'vendor_admin' %}" class="navbar-item">{{ user.username }}</a>
                    <a href="{% url 'logout' %}" class="navbar-item">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="navbar-item">Sign-In</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>
        <footer class="footer">
            <h3 class="is-size-4 mb-4">GoLocal</h3>

            {% if request.user.is_anonymous %}
            <a href="{% url 'become_vendor' %}">Become vendor</a>
            {% endif %}
        </footer>

        {% block scripts %}
        {% endblock %}
    </body>
</html>