{% extends 'core/base.html' %}

{% block title %}{{ product.title }} | {% endblock  %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="notification is-toast is-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
<div class=box style="background: #E0E2DB;">
    <div class="columns is-multiline is-centered">
        <div class="column is-3">
            <!-- <div class="box" style="background: #444;"> -->
            <div style="border: 3px solid #444; background: #444;">
                {% if product.image %}
                <figure>
                    <img src="{{ product.image.url }}" style="max-height:100%; max-width: 100%;">
                </figure>
                {% else %}
                    <figure>
                        <img src="{{ product.get_thumbnail }}" style="max-height:100%; max-width: 100%;">
                    </figure>
                {% endif %}
            </div>
        </div>
        <div class="column is-3 mb-6 ml-3">
            <div class="column is-12">
                <h1 class="title">{{ product.title }}</h1>
                <h1 class="is-size-4">Pret: {{ product.price }}RON</h1>
                
                {% if product.description %}
                <hr>

                <p>Descriere:</p>
                <p>{{ product.description | safe }}</p>
                {% endif %}

                <hr>
                <div class="has-text-centered">
                    <h1 class="is-size-6 tag">Vandut de: </h1>
                    <a href="{% url 'vendor' product.vendor.id %}" class="is-size-6 tag is-dark">{{ product.vendor.name }}</a>
                    {% if request.user.vendor == product.vendor or request.user.is_staff %}
                    <a href="{% url 'edit_product' product.id %}" class="is-size-6 tag is-info">Edit</a>
                    {% endif %}
                </div>
            </div>
            <div class="column is-12">
                <form method="post" action=".">
                    {% csrf_token %}
                    
                    <div class="field has-addons">
                        <input type="hidden" name="quantity" value="1" class="input" min="1" style="width: 20%;"/>
                        <input class="button is-dark is-fullwidth" type="submit" value="Add to cart" style="float: right" />
                        <div style="overflow: hidden; padding-right: .5em;">
                    </div>
                </form>
                <hr>
            </div>
        </div>

        </div>
    </div>
</div>
    {% if similar_products %}
        <hr>
        <div class="columns is-multiline">
            <div class="column is-12 has-text-centered">
                <h1 class="title">Similar products</h1>
            </div>

            {% for product in similar_products %}
                {% include 'product/parts/list_item.html' %}
            {% endfor %}
        </div>
    {% endif%}
{% endblock  %}