{% extends 'core/base.html' %}

{% block title %}ADMIN | {% endblock %}

{% block content %}
    <h1 class="title">Manage products</h1>
    <div class="box">
        <h2 class="is-size-3 mb-4">Products</h2>
            {% if products %}
            <div style="max-height: 600px; overflow: scroll;">
                <table class="table is-fullwidth">
                    <thead>
                        <th>Name</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td><a href="{% url 'product' product.category.slug product.slug %}">{{ product.title }}</a></td>
                                <td><a href="{% url 'delete_product' product.id %}" class="button is-danger">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No products exist</p>
        {% endif %}
    </div>
{% endblock %}