{% extends 'core/base.html' %}

{% block title %}ADMIN | {% endblock %}

{% block content %}
<div class="columns is-multiline is-centered">
    <div class="column is-6">
        <h1 class="title">Manage categories</h1>
        <div class="box">
            <h2 class="is-size-3 mb-4">Categories</h2>
                <div class="has-text-centered">
                    {% if categories %}
                    <table class="table is-hoverable is-fullwidth">
                        <thead>
                            <th>Title</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td><a href="{% url 'category' category.slug %}" class="button is-dark is-fullwidth">{{ category.title }}</a></td>
                                    <td>
                                        <a href="{% url 'edit_category' category.slug %}" class="button is-info">Edit</a>
                                        <a href="{% url 'delete_category' category.id %}" class="button is-danger">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
                {% else %}
                    <p>No categories exist</p>
                {% endif %}
                <br>
                <a href="{% url 'add_category' %}" class="button is-dark">Add category</a>
                </div>
        </div>
    </div>
</div>
{% endblock %}